.wrapperWaterConsumedItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--Secondary-color-5);
  padding-top: 12px;
  padding-bottom: 12px;
}

.glassWaterWrapper {
  display: flex;
  flex-direction: row;
}

.amountWater {
  font-size: 18px;
  line-height: 1.33;
  color: var(--Primery-Color-Blue);
  margin-right: 12px;
}

.time {
  font-size: 12px;
  line-height: 2;
  color: var(--Primery-Color-Black);
}

.glassOfWater {
  width: 17px;
  height: 22px;
  margin-right: 12px;
  fill: none;
  stroke: var(--Primery-Color-Blue);
}

.btnWater {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
}

.btnWater:not(:last-child) {
  margin-right: 18px;
}

.btnWater:last-child {
  margin-right: 6px;
}

.btnWater:not(:last-child):hover::after {
  content: '';
  position: absolute;
  border: 1px solid var(--Secondary-color-4);
  width: 18px;
  height: 0px;
  transform: translateY(20px);
  margin-left: -18px;
}

.btnWater:last-child:hover::after {
  content: '';
  position: absolute;
  border: 1px solid var(--Secondary-color-3);
  width: 18px;
  height: 0px;
  transform: translateY(20px);
  margin-left: -17px;
}

.editWaterItem {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--Primery-Color-Blue);
}

.trash {
  width: 16px;
  height: 16px;
  stroke: var(--Secondary-color-3);
  fill: none;
}

@media only screen and (min-width: 768px) {
  .amountWater {
    margin-right: 16px;
  }
}

@media only screen and (min-width: 1440px) {
}
