.section {
  width: 320px;
  margin: 0 auto;
  background-image: url('../../assets/images/tracker-water/mobile-bg-tracker-water-min.png');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center bottom; */
  min-height: 100%;
  height: 100%;
  background-position: top 25px center, top 52px left 0;
}

.DailyWater {
  display: flex;
  flex-direction: column;
  gap: 232px;
  /* margin-left: 20px; */
  margin-top: 24px;
}

.wrapper {
  margin-left: 20px;
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .section {
    background-image: url('../../assets/images/tracker-water/mobile-bg-tracker-water@2x-min.png');
  }
}

@media only screen and (min-width: 768px) {
  .section {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/tracker-water/tablet-bg-tracker-water-min.png');
  }

  .DailyWater {
    gap: 326px;
    /* margin-left: 32px; */
    margin-top: 40px;
  }

  .section {
    max-width: 768px;
  }

  .wrapper {
    margin-left: 32px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .section {
    background-image: url('../../assets/images/tracker-water/tablet-bg-tracker-water@2x-min.png');
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    background-image: url('../../assets/images/tracker-water/dectop-bg-tracker-water-min.png');
    background-position: center;
    max-width: 1440px;
    margin: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 1440px;
    /* height: 800px; */
    justify-content: center;
    margin-bottom: 40px;
  }

  .DailyWater {
    gap: 466px;
    margin-left: 0;
    margin-right: 32px;
    margin-top: 52px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .section {
    background-image: url('../../assets/images/tracker-water/dectop-bg-tracker-water@2x-min.png');
  }
}
